body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

ul{
	margin: 0;
	padding: 0;
}
li{
	list-style-type: none;
}


	


header{
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	justify-content: center;
	background: linear-gradient(to top right , #FFC0CB  0%,#ADD8E6 36%, #DDA0DD 63%, #FFE4C4 100%);
}
nav{
	width: 100%;
}

.navigation__list{
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.navigation__item{
	width: 75px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: 10px;
	font-size: 14px;
	position: relative;
}

.navigation__item:last-child{
	margin-right: 0;
}

section{
	display: flex;
	align-items: center;
	justify-content: center;
}
#test-btn{
	width: 75px;
	height: 40px;
	border: none;
	background-color: transparent;
	font-size: 16px;
	color: black;
	box-shadow: 0 6px 9px 1px gray;
	border-radius: 10px;
}

.sweety{
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: -64px;
}


.active{
	background-color:rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 9px 1px gray;
}

.position{
	position: fixed;
	top: 0px;
}

.back--transparent{
	background: transparent;
}
