body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

ul{
	margin: 0;
	padding: 0;
}
li{
	list-style-type: none;
}

header{
	padding-top: 25px;
	padding-bottom: 25px;
	display: flex;
	justify-content: center;
	background-color: lightblue;
}

.navigation__list{
	width: 320px;
	display: flex;
	justify-content: space-around;
}

.navigation__item{
	width: 75px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	border-radius: 5px;
	font-size: 14px;
}

.navigation__item:last-child{
	margin-right: 0;
}

.active{
	background-color:rgba(0, 0, 0, 0.5);
	box-shadow: 0 6px 9px 1px gray;
}

.position{
	position: sticky;
	top: 0px;
}

.back--transparent{
	background-color: transparent;
}
